{% extends 'base.html.twig' %}

{% block title %}Instruments
{% endblock %}

{% block body %}
	<div>
		<div class="container my-5">
			<div class="row justify-content-center">
				<div class="col-12 col-sm-6 col-md-4 col-lg-3 mb-3">
					<div class="card text-bg-dark my-3 w-100" style="max-width: 18rem;">
						<img src="{{ asset('Image/article/' ~ produit.photoProduit) }}" class="card-img-top" alt="{{ produit.nomProd }}">
						<div class="card-body">
							<h5 class="card-title text-center">{{ produit.nomProd }}</h5>
							<p class="card-text">{{ produit.libLongProd }}</p>
							<p class="card-text text-center">
								{% if app.user %}
									{{ (produit.prixAchat + ( ('0.' ~ app.user.Coeffcli) * produit.prixAchat)) | number_format(2, ',', ' ') }}
									€
								{% else %}
									{{ (produit.prixAchat + (0.20 * produit.prixAchat)) | number_format(2, ',', ' ') }}
									€
								{% endif %}
							</p
						</div>
						<div class="d-flex justify-content-center mb-2">
							<a href="{{ path("app_ajout_panier", {id: produit.id}) }}" class="btn btn-primary w-75">Ajouter</a>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
{% endblock %}

