{% extends 'base.html.twig' %}

{% block title %}Accueil{% endblock %}

{% block body %}
	<div>
	 <div class="container my-5">
			<div class="row justify-content-center">
					<div class="col-12 col-sm-6 col-md-4 col-lg-3 mb-3">
						<div class="card" style="width: 10rem;">
							<img src="{{ asset('Image/article/' ~ produit.photoProduit) }}" class="card-img-top" alt="{{ produit.nomProd}}">
							<div class="card-body">
								<h5 class="card-title">{{ produit.nomProd }}</h5>
                                <p class="card-text">{{ produit.LibCourtProd }}</p>
                                <p class="card-text">{{ produit.libLongProd}}</p>
                                <p class="card-text">Prix: {{ produit.prixAchat }}</p>

							</div>
						</div>
					</div>
			</div>
		</div>
	</div>
{% endblock %}
