{% extends 'base.html.twig' %}

{% block title %}Accueil{% endblock %}

{% block body %}
	<div>
		<div class="fs-1 ms-md-5">Les Catégories :</div>
		<div class="container my-5">
			<div class="row justify-content-center">
				{% for categorie in categories %}
					<div class="col-12 col-sm-6 col-md-4 col-lg-3 mb-3">
						<div class="card" style="width: 10rem;">
							<img src="{{ asset('Image/categorie/' ~ categorie.imageCategorie) }}" class="card-img-top" alt="{{ categorie.nomCategorie }}">
							<div class="card-body">
								<h5 class="card-title">{{ categorie.nomCategorie }}</h5>
							</div>
						</div>
					</div>
				{% endfor %}
			</div>
		</div>
	</div>

    <div class="fs-1 ms-md-5">Les Intruments :</div>
		<div class="container my-5">
			<div class="row justify-content-center">
				{% for produit in produits %}
					<div class="col-12 col-sm-6 col-md-4 col-lg-3 mb-3">
						<div class="card" style="width: 10rem;">
							<img src="{{ asset('Image/article/' ~ produit.photoProduit) }}" class="card-img-top" alt="{{ produit.nomProd }}">
							<div class="card-body">
								<h5 class="card-title">{{ produit.nomProd}}</h5>
							</div>
						</div>
					</div>
				{% endfor %}
			</div>
		</div>
	</div>

{% endblock %}
