{% extends 'base.html.twig' %}

{% block title %}Profil{% endblock %}

{% block body %}
<div class="container">
    <div class="row justify-content-start couleur">
<h1 class="my-2  ">Detail du compte</h1>
        <h2>mes informations personnel</h2>
        <div class="card text-bg-dark my-3" >
            <div class="card-header">adresse</div>
            <div class="card-body">
                <h5 class="card-title">{{ utilisateur.nomcli}} {{ utilisateur.prenomcli | upper}}</h5>
                <p class="card-text">{{ utilisateur.email }}</p>
                <p class="card-text">{{ utilisateur.numtelephone}}</p>
                <p class="card-text">{{ utilisateur.adresselivrai}}</p>
                <p class="card-text">{{ utilisateur.adressefactu}}</p>

{% endblock %}
