{% extends 'base.html.twig' %}

{% block title %}Profil{% endblock %}

{% block body %}
<div class="container">
    <div class="row justify-content-start couleur">
        <h1 class="my-2">Détail du compte</h1>
        <h2>Mes informations personnelles</h2>

        <div class="card text-bg-dark my-3">
            <div class="card-header">Profil</div>
            <div class="card-body">
                <h5 class="card-title">Nom : {{ utilisateur.nomcli }} {{ utilisateur.prenomcli | upper }}</h5>
                <p class="card-text">Catégorie client : {{ utilisateur.catecli }}</p>
                <p class="card-text">Mail : {{ utilisateur.email }}</p>
                <p class="card-text">Numéro de téléphone : {{ utilisateur.numtelephone }}</p>
                 <a class="link-body-emphasis link-offset-2 link-underline-opacity-0 link-underline-opacity-75-hover justify-content-end col-4" href="{{ path('app_modifier_password')}}">
					<button class="btn btn-primary">Modifier mot de passe</button>
				</a>


                <p class="card-text">
                    Adresse de livraison : {{ utilisateur.adresselivrai }}
                    <a href="{{ path('app_modif_adresse') }}" class="btn btn-primary ms-3">Modifier</a>
                </p>

                <p class="card-text">
                    Adresse de facturation : {{ utilisateur.adressefactu }}
                    <a href="{{ path('app_modif_adresse') }}" class="btn btn-primary ms-3">Modifier</a>
                </p>
            </div>
        </div>
    </div>
</div>
{% endblock %}
