{% extends 'base.html.twig' %}

{% block body %}
    <div class="container mt-4">
        <h2>Modifier votre mot de passe</h2>

        {% for message in app.flashes('danger') %}
            <div class="alert alert-danger">{{ message }}</div>
        {% endfor %}
        {% for message in app.flashes('success') %}
            <div class="alert alert-success">{{ message }}</div>
        {% endfor %}

        {{ form_start(form) }}
            <div class="mb-3">
                {{ form_label(form.passwordActuel) }}
                {{ form_widget(form.passwordActuel) }}
                {{ form_errors(form.passwordActuel) }}
            </div>

            <div class="mb-3">
                {{ form_label(form.passwordActuelNew1) }}
                {{ form_widget(form.passwordActuelNew1) }}
                {{ form_errors(form.passwordActuelNew1) }}
            </div>

            <div class="mb-3">
                {{ form_label(form.passwordActuelNew2) }}
                {{ form_widget(form.passwordActuelNew2) }}
                {{ form_errors(form.passwordActuelNew2) }}
            </div>

            <button type="submit" class="btn btn-primary">{{ form_label(form.Save) }}</button>
        {{ form_end(form) }}
    </div>
{% endblock %}