{% extends 'base.html.twig' %}

{% block title %}Inscrtiption{% endblock %}

{% block body %}
{{ form_errors(registrationForm) }}

	{{ form_start(registrationForm) }}

	<div class='container my-4' style='max-width: 500px;'>
		<div class='row justify-content-center text-dark rounded border-dark bg-light'>
			<h1>Creation de compte</h1>
			<div class="col-12 mb-3">
				{{ form_row(registrationForm.nomcli) }}
			</div>
			<div class="col-12 mb-3">
				{{ form_row(registrationForm.prenomcli) }}
			</div>
			<div class="col-12 mb-3">
				{{ form_row(registrationForm.email) }}
			</div>
			<div class="col-12 mb-3">
				{{ form_row(registrationForm.numtelephone) }}
			</div>
			<div class="col-12 mb-3">
				{{ form_row(registrationForm.password) }}
			</div>
            <div class="col-12 mb-3">
				{{ form_row(registrationForm.catecli) }}
			</div>
            <div class="col-12 mb-3">
				{{ form_row(registrationForm.coeffcli) }}
			</div>
			<div class="col-12 mb-3">
				{{ form_row(registrationForm.agreeTerms) }}
			</div>

			<div class="col mt-5 mb-2 position-relative">
				<button type="submit" class="btn btn-success rounded-pill position-absolute bottom-0 end-0 text-light">Enregistrer</button>
			</div>

		</div>
	</div>

	{{ form_end(registrationForm) }}
{% endblock %} 
