{% extends 'base.html.twig' %}

{% block title %}Contact{% endblock %}

{% block body %}

	{{ form_start(form) }}
	<div class='container mt-4'>
		<div class='row justify-content-center'>

			<div class="col-12 mb-3">
				<div class="form-control">
					<i class="fa fa-calendar"></i> {{ form_label(form.Message) }}
					{{ form_widget(form.Message) }}
					<div class="form-error">
						{{ form_errors(form.Message) }}
					</div>
				</div>
			</div>

			<div class="col mt-5 mb-2 position-relative">
				<button type="submit" class="btn btn-success rounded-pill position-absolute bottom-0 end-0 text-light">Enregistrer</button>
			</div>

		</div>
	</div>
	{{ form_end(form) }}
{% endblock %}
